<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<style type="text/css">
		.site-footer {
			padding-top: 30px;
		}
	</style>
</head>
<body>
	<nav class="navbar navbar-default" role="navigation">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#example-navbar-collapse">
				<span class="sr-only">Switch navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="index.php">Blog</a>
		</div>
		<div class="collapse navbar-collapse" id="example-navbar-collapse">
			<ul class="nav navbar-nav">
				<li><a href="index.php">Home</a></li>
				<li><a href="writing.php">Writing</a></li>
				<li><a href="about.php">About</a></li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">
						Friends <b class="caret"></b>
					</a>
					<ul class="dropdown-menu">
						<li>None</li>
					</ul>
				</li>
			</ul>
			<div class="nav navbar-nav navbar-right">
				<li><a href="logout.php">Logout</a></li>
			</div>
		</div>
	</nav>